<footer class="sticky-bottom navbar-light">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/prevostjules"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/prevostjules/"><i class="fab fa-linkedin"></i></a>
    <a target="_blank" href="https://twitter.com/prevost_jules"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://www.instagram.com/prevost_jules/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/julesael.prevost"><i class="fab fa-facebook"></i></a>
  </div>
    <p class="footer-copyright">©Jules Prévost 2020</p>
</footer>
