<div class="home-infos">
  <%= cl_image_tag("jprevost_q2yf9t.jpg", secure: true, alt: "Avatar de Jules Prévost, développeur web full-stack (Ruby on Rails)", class: "avatar-square mb-2") %>
  <h1>Jules Prévost</h1>
  <h2>Développeur web full-stack freelance, Ruby on Rails</h2>
  <p><i class="fas fa-map-marker-alt mr-1"></i>Bordeaux, Paris, distanciel</p>
</div>

<div class="home-introduction">

</div>
