<div class="p-3 card-text">
  <h1 class="text-center">Salut, moi c'est Jules</h1>
  <%= cl_image_tag("don%27t%20touch/jprevost_dev_site_khiib2.jpg", secure: true, alt: "Avatar de Jules Prévost, développeur web full-stack (Ruby on Rails)", class: "avatar-round mb-4 mt-3 center") %>
  <div class="container container-medium">
    <p>
      Développeur freelance spécialisé Ruby on Rails, je vous accompagne dans tous vos projets web.
    </p>
    <p>
      <strong>Mes missions : vous conseiller sur les outils les plus adaptés à vos besoins et à votre budget avant de les mettre en place techniquement.</strong>
    </p>

    <p>
      Egalement journaliste pigiste (Le Figaro Magazine, Le Monde, La Vie, GEO, La Gazette des communes…),
      j'ai des compétences en rédaction, une bonne connaissance de la façon dont les internautes consultent des contenus web et l'habitude de travailler en indépendant.
    </p>

    <div class="d-flex justify-content-center">
      <a target="_blank" href="https://www.linkedin.com/in/prevostjules/"><i class="fab fa-linkedin social-presentation m-4"></i></a>
      <a target="_blank" href="https://github.com/prevostjules"><i class="fab fa-github social-presentation m-4"></i></a>
    </div>

  </div>
</div>

<div class="div-keppel p-3">
  <div class="container">
    <h2>Expérience</h2>
  </div>
  <div class=" container card-container">
    <div class="card card-simple card-cv">
      <h3>Développeur web</h3>
      <h4>Freelance</h4>
      <p class="light">juillet 2020 - maintenant</p>
      <p>Full-stack, spécialisé en Ruby on Rails. Je vous aide aussi pour vos site Wordpress.</p>
        <%= link_to "Mes projets", projects_path, class: "btn btn-primary mb-2" %>
        <%= link_to "Mon GitHub", "https://github.com/prevostjules", target: "_blank", class: "btn btn-primary" %>
    </div>

    <div class="card card-simple card-cv">
      <h3>Teacher assistant</h3>
      <h4>Le Wagon Bordeaux</h4>
      <p class="light">juillet 2020 - maintenant</p>
      <p>En tant que professeur assistant, j’aide les étudiants à mener à bien leurs projets en Ruby, Javascript, HTML, CSS, Bootstrap.</p>
    </div>

    <div class="card card-simple card-cv">
      <h3>Journaliste</h3>
      <h4>Pigiste</h4>
      <p class="light">2015 - maintenant</p>
      <p>Reporter, journaliste pour GEO, Le Figaro Magazine, l'Atlas La Vie-Le Monde, Le Monde Vidéos, Le Parisien Week-End, la Gazette des communes, Regain et quelques autres.</p>
        <%= link_to "Mes articles", "https://ginkio.com/jules-prevost", target: "_blank", class: "btn btn-primary" %>
    </div>

    <div class="card card-simple card-cv">
      <h3>Moniteur de voile</h3>
      <h4>Beg-Porz, Moëlan-sur-Mer</h4>
      <p class="light">2014 - maintenant</p>
      <p>De temps en temps moniteur de voile en Bretagne. J'encadre des groupes de tous âges en catamaran et dériveur.</p>
    </div>
  </div>
</div>



<div class="div-banana p-3">
  <div class="container">
    <h2>Formation</h2>
  </div>
  <div class=" container card-container">
    <div class="card card-simple card-cv">
      <h3>Le Wagon Bordeaux</h3>
      <p class="light">avril - juillet 2020</p>
      <p>
        9 semaines d’apprentissage intensif du développement web en HTML, CSS, Bootstrap, JavaScript ES2015,
        SQL, git, GitHub, Heroku et Ruby on Rails.
      </p>
    </div>

    <div class="card card-simple card-cv">
      <h3>CFJ Paris</h3>
      <p class="light">2015-2017</p>
      <p>Au Centre de formation des Journalistes, j'ai réalisé des interviews vidéos de candidats à la présidentielle 2017, effectué des reportages en Espagne sur la pauvreté énergétique et développé deux sites web.</p>
    </div>

    <div class="card card-simple card-cv">
      <h3>CPGE Claude Monet, Paris</h3>
      <p class="light">2011-2014</p>
      <p>Trois ans d'études passionnantes en Philosophie, Histoire, Géographie et Littérature. Sous-admissible à l'ENS Paris.</p>
    </div>
  </div>
</div>
