<div class="div-classic p-3">
  <h1>Qui suis-je ?</h1>
  <p>
    Développeur freelance spécialisé Ruby on Rails
    et Javascript, je vous accompagne dans vos projets web.
    <span>Mes missions : vous conseiller sur les outils les plus adaptés à vos besoins et à votre budget avant de les mettre en place techniquement.</span>
  </p>

  <p>
    Egalement journaliste indépendant (Le Figaro Magazine, Le Monde, La Vie, GEO, La Gazette des communes…),
    j'ai des compétences en rédaction et une bonne connaissance de la façon dont les internautes consultent des contenus web.
  </p>
</div>

<div class="div-keppel p-3">
  <h2>Mes services</h2>
  <h3>Du back et de l'intégration front</h3>
  <ol>
    <li>Analyse de vos besoins et choix des outils à déployer</li>
    <li>Création du parcours utilisateur</li>
    <li>Conception d’un schéma de base de données cohérent ou mise en place d’un CMS (wordpress)</li>
    <li>Développement du site : création de base de données, mise en place de fonctionnalités (mailing, moteur de recherche, paiement…), intégration du design…</li>
    <li>Mise en ligne du site avec Heroku et mise en lien avec votre nom de domaine.</li>
  </ol>
</div>
