<h2>Bonjour <%= @contact.first_name %> <%= @contact.last_name %>,</h2>

<p>Merci beaucoup pour votre message : </p>

<p style="font-style: italic;">"<%= @contact.message %>"</p>

<p>Je reviendrai vers vous dans les plus brefs délais.</p>

<p>Bien à vous,</p>

--

<div dir="ltr">
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">
        <b>Jules Prévost - Freelance full-stack web developer (Bordeaux and remote)</b>
      </span>
    </span>
  </div>
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">Trained at&nbsp;<a href="https://www.lewagon.com/fr/bordeaux" target="_blank">Le Wagon Bordeaux</a></span>
      <span style="font-size:12px"></span>
    </span>
  </div>
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">+33 6 35 55 39 94 [Signal - WhatsApp - Telegram- Viber]</span>
      <span style="font-size:12px"></span>
    </span>
  </div>
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">
        <a href="mailto:jules@prevostdev.com" target="_blank">jules@prevostdev.com</a>
      </span>
    </span>
  </div>
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">You should :</span>
    </span>
  </div>
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">- see my&nbsp;<a href="https://github.com/prevostjules" target="_blank">GitHub</a></span>
    </span>
  </div>
  <div>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">- follow me on&nbsp;</span>
    </span>
    <a href="https://www.linkedin.com/in/prevostjules/" title="https://www.linkedin.com/in/prevostjules/" rel="nofollow" style="font-family:arial,sans-serif;font-size:12px" target="_blank">LinkedIn</a>
    <span style="font-family:arial,sans-serif">
      <span style="font-size:12px">,&nbsp;<a href="https://twitter.com/prevost_jules" title="https://twitter.com/prevost_jules" rel="nofollow" target="_blank">Twitter</a>,&nbsp;<a href="https://www.facebook.com/julesael.prevost" title="https://www.facebook.com/julesael.prevost" rel="nofollow" target="_blank">Facebook</a>&nbsp;and&nbsp;<a href="https://www.instagram.com/prevost_jules/" title="https://www.instagram.com/prevost_jules/" rel="nofollow" target="_blank">Instagram</a></span>
    </span>
  </div>
</div>
