.avatar {
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-square {
  width: 8rem;
  border-radius: 20%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-round {
  width: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-square, .avatar-round {
    @include big-screen {
    width: 10rem;
  }
}
