.btn {
  color: $black;
  font-weight: 600;
  display: block;
  max-width: fit-content;
  margin: 0 auto;

  &:hover {
    color: $black;
  }
}

.btn-primary {
  background: $color-tertiary;
  border: none;
  &:hover {
    background: $color-tertiary;
  }
}

.btn-secondary {
  background: $color-secondary;
  border: none;
  color: white;
  &:hover {
    background: $color-secondary;
  }
}
