.card {
  border: none;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.8rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  &-simple {
    background: $color-primary;
    padding: 0.9rem 3rem 1rem 3rem;
    border-radius: 2px;
    margin-bottom: 1rem;
  }

  &-infos {
    padding: 1rem;
  }

  &-btns {
    display: flex;
    justify-content: space-around;
  }

  &-time {
    font-weight: 300;
    font-style: italic;
  }

  &-tags     {
    display: flex;
    justify-content: space-evenly;
  }

  &-time {
    margin: 0;
  }

  &-cv {
    h3 {
      margin-bottom: 0.3rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 500;
    }
  }


}
