.card {
  border: none;
  margin: 2rem 0;

  @include medium-screen {
    max-width: 47%;
  }

  @include big-screen {
    max-width: 34%;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;

    @include medium-screen {
      font-size: 1.5rem;
    }

    @include big-screen {
      font-size: 1.4rem;
    }
  }

  h3 {
    margin-bottom: 2rem;
  }

  &-container {
    @include medium-screen {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &-simple {
    background: $color-primary;
    padding: 0.9rem 3rem 1rem 3rem;
    border-radius: 2px;
    margin-bottom: 1rem;

    @include medium-screen {
      max-width: 42%;
    }

    @include big-screen {
      max-width: 34%;
      padding: 0.9rem 3rem 1rem 3rem;
    }
  }

  &-infos {
    padding: 1rem;
    p {
      margin-bottom: 2rem;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-around;
  }

  &-time {
    font-size: 1.2rem;
    font-weight: 300;
  }

  &-tags     {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include medium-screen {
      flex-grow: 5;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &-cv {
    h3 {
      margin-bottom: 0.3rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 500;
    }

    @include medium-screen {
      max-width: 44%;
    }

    @include big-screen {
      max-width: 34%;
    }
  }
}


.card-text {

  h1 {

    margin: 0.5rem auto;
    @include medium-screen {
      margin: 1.2rem auto;
    }
  }

  p {
    @include medium-screen {
      padding: 0.5rem 2rem;
    }
    @include big-screen {
      padding: 0.8rem 5rem;
      font-size: 1.1rem;
    }
  }
}

.card-summary {

  margin: 0 auto;

  @include medium-screen {
    max-width: 60%;
  }

  @include big-screen {
    max-width: 40%;
    margin: 2rem auto;
  }
}

.card-time {
  display: flex;
  justify-content: space-evenly;

  @include medium-screen {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  &-medium {
    @include medium-screen {
      display: flex;
    }
  }
}

.card-grow {
  @include medium-screen {
    flex-grow: 1;
  }
}

#time {
  @include medium-screen {
    margin-bottom:1rem;
  }
}

.card-tags-show .badge {
  @include medium-screen {
    font-size: 100%;
  }
}

.badge {
  margin: 0.3rem;
}

.git-activity {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

#results {
  display: none;
  @include big-screen {
    display: flex;
  }
}

.card-result {
  max-width: 60%;
}
