.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  @include medium-screen {
    justify-content: center;
  }
}

.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0px 10px;
  @include medium-screen {
    justify-content: center;
  }
}

.footer-copyright {
  text-align: center;
  margin-bottom: 0;
}

footer {
  max-width: 100%;
  padding: 0.5rem 0.5rem;
}
