.logo-img {
  max-width: 26%;
  margin: 0.5rem;
  align-self: center;
  @include medium-screen {
    max-width: 20%;
    margin: 1rem;
  }
  @include big-screen {
    max-width: 6%;
  }
}

.competences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
