.navbar-light {
  background-color: $color-tertiary;
}

.nav-item {
  a {
    text-transform: uppercase;
    text-align: center;
  }
}

.navbar-toggler {
  border: none;
  @include medium-screen {
    display: none;
  }
}

.logo {
  width: 2.5rem;
}

.text-logo {
  width: 6.5rem;
  margin-left: 0.2rem;
}

.navbar-menu {
  p {
    margin: 0;
  }
}

.collapse:not(.show) {
  @include medium-screen {
    display: block;
    .navbar-nav {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.navbar-collapse {
  @include medium-screen {
    flex-basis: 0;
    .nav-item {
      margin: 0 1rem;
    }
  }
}
